.overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

.overlay.show {
  display: block;
}

.modal {
  position: fixed;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
  left: 0;
  bottom: -150px;
  padding: 15px;
  transition: all 0.3s ease-out;
  z-index: 10;
}
.modal.show {
  bottom: 0;
}
.modal .close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.modal h3 {
  text-align: center;
}


.shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.shop-logo {
  max-height: 30px;
  max-width: 100%;
}
.shop-name {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  width: 30%;
}
.stock-status {
  color: #a6a6a6;
  font-size: 10px;
  font-weight: bold;
  width: 35%;
  display: flex;
  align-items: center;
}
.stock-status img {
  padding: 3px;
}
.shop-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  width: 25%;
  padding-right: 10px;
}
.shop-link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e0e0e0;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}